@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
}

body {
    *, *:before, *:after {
        font-family: 'Plus Jakarta Sans', sans-serif;
        color:#fff;
    }
    h1 {
        font-size:40px;
        margin-bottom:54px;
    }
}